/////////////////////////////////////////////////////////////
// the gab between images
.img-fluid0,.fluidDiv0 {
    width: 95%;
    @media screen and (max-width : 480px) {
        width: 100%;
    }
}
////////////////////////////////////////////////////////////////////////
// Carousel Compnent
// chnage img size in Gallery One Image in Modal
.img-example {
    width: 800px;
    @media screen and (max-width:1000px) {
        width: 100%;
    }
}
////////////////////////////////////////////////////////////////////////
.VideoOfGame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    @media screen and (max-width:1000px) {
        width: 100vw;
        height: 56.25vw;
    }
}
/////////////////////////////////////////////////////////////////////////
// contorl width of the whle compnent 
.SwiperOfModal {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
///////////////////////////////////////////
// class for dots
// the first class is the class of the div component
// the other clsses are c/p from the inspect window
.SwiperOfModal .slick-dots li button:before {
    opacity: 1;
    color: white;
}
.SwiperOfModal .slick-dots li.slick-active button:before {
    opacity: 1;
    color: black;
}