.About {
    p {margin: 0;}
    // contetnAbout
    .aboutContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width:900px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        width: 90%;
        margin: 0 auto;
        padding-top: calc(1.5 * (1.825rem + 2vw));
        padding-bottom: calc(1.5 * (1.825rem + 2vw)); ;
        .header {
            font-size: calc(1.825rem + 2vw);
            font-weight: 900;
            // center
            display: flex;
            flex-direction: column;
            justify-content: center;
            //
            p {
                border: 6px solid;
                border-color: crimson white blue white;
            }
        }
        .content {
            width: 60%;
            @media screen and (max-width:900px){
                width: 90%;
            }
            font-size: 16px;
            padding: 20px 0 ;
        } 
    }
        
    ///// the part of talk to us 
    .horizontalLayout{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 0;

        .talkToUs {
            display: flex;
            flex-direction: column;
            flex: start;
            width: 80%;
    
            .p1 {
                font-size: 1.4em;
                font-weight: bolder;        
            }
            
            .p2 {
                font-size: 1em;
            
            }

            .horizontalFlex{
                display: flex;
                flex-direction: row;

                i { 
                    font-size: 2em;
                    transition: all 0.5s;
                }

                .iContainer:hover {
                    i {
                        color: grey ;
                        margin: 0 13px;
                    }
                }

                .iContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 10px;
                }
            }
        }
    }
    //////// foter follow us 
    .FooterFollowUs {
        margin-top: 0 ;
    }
}