.About p {
  margin: 0;
}
.About .content1 {
  background-color: white;
  color: black;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 110px;
  padding-bottom: 80px;
}
@media screen and (max-width: 500px) {
  .About .content1 {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.About .content1 .header1p {
  font-size: 3rem;
  padding-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .About .content1 .header1p {
    font-size: 2rem;
  }
}
.About .content1 .p2p {
  font-size: 1em;
}
.About .content2 {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  color: black;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 500px) {
  .About .content2 {
    flex-direction: column;
    align-items: center;
  }
}
.About .content2 img {
  margin: 15px 20px;
  width: 50%;
}
@media screen and (max-width: 500px) {
  .About .content2 img {
    width: 80%;
  }
}
.About .content2 .p2p {
  font-size: 1em;
}
@media screen and (max-width: 500px) {
  .About .content2 .p2p {
    font-size: 1em;
  }
}
.About .content2 .p3p {
  font-weight: bolder;
  font-size: 1.4em;
  margin-bottom: 20px;
  border-width: 0 0 2px 0;
  /* top right bottom left */
  border-style: solid;
  border-color: #cf0e0e;
}
@media screen and (max-width: 500px) {
  .About .content2 .p3p {
    font-size: 1.2em;
  }
}
.About .content2 .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.About .content3 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #f6f6f6;
  color: black;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 500px) {
  .About .content3 {
    flex-direction: column;
    align-items: center;
  }
}
.About .content3 img {
  margin: 15px 20px;
  width: 50%;
}
@media screen and (max-width: 500px) {
  .About .content3 img {
    width: 80%;
  }
}
.About .content3 .p2p {
  font-size: 1em;
}
@media screen and (max-width: 500px) {
  .About .content3 .p2p {
    font-size: 1em;
  }
}
.About .content3 .p3p {
  font-weight: bolder;
  font-size: 1.4em;
  margin-bottom: 20px;
  border-width: 0 0 2px 0;
  /* top right bottom left */
  border-style: solid;
  border-color: blue;
}
@media screen and (max-width: 500px) {
  .About .content3 .p3p {
    font-size: 1.2em;
  }
}
.About .content3 .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.About .horizontalLayout {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}
.About .horizontalLayout .talkToUs {
  display: flex;
  flex-direction: column;
  flex: start;
  width: 80%;
}
.About .horizontalLayout .talkToUs .p1 {
  font-size: 1.4em;
  font-weight: bolder;
}
.About .horizontalLayout .talkToUs .p2 {
  font-size: 1em;
}
.About .horizontalLayout .talkToUs .horizontalFlex {
  display: flex;
  flex-direction: row;
}
.About .horizontalLayout .talkToUs .horizontalFlex i {
  font-size: 2em;
  transition: all 0.5s;
}
.About .horizontalLayout .talkToUs .horizontalFlex .iContainer:hover i {
  color: grey;
  margin: 0 13px;
}
.About .horizontalLayout .talkToUs .horizontalFlex .iContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
.About .FooterFollowUs {
  margin-top: 0;
}

@-webkit-keyframes leftAnimation {
  0% {
    opacity: 0.4;
    transform: translateX(-100px);
  }
  60% {
    opacity: 0.7;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftAnimation {
  0% {
    opacity: 0.4;
    transform: translateX(-100px);
  }
  60% {
    opacity: 0.7;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rightAnimation {
  0% {
    opacity: 0.4;
    transform: translateX(100px);
  }
  60% {
    opacity: 0.7;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightAnimation {
  0% {
    opacity: 0.4;
    transform: translateX(100px);
  }
  60% {
    opacity: 0.7;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.leftAnimation {
  -webkit-animation-name: leftAnimation;
          animation-name: leftAnimation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.rightAnimation {
  -webkit-animation-name: rightAnimation;
          animation-name: rightAnimation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}/*# sourceMappingURL=About.css.map */