.mainContainer {
    padding-top : 50px;

    // temporary to keep the fotter in the down
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.timeDiv {
    display: flex;
    flex-direction: row;
}