.ImgHeaderContact {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.ImgHeaderContact video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.ImgHeaderContact h1 {
  color: #fff;
  margin-top: 350px;
  margin-bottom: 50px;
  font-size: 5em;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact h1 {
    font-size: 3em;
    margin-top: 600px;
  }
}
@media screen and (max-width: 500px) {
  .ImgHeaderContact h1 {
    font-size: 2em;
  }
}
.ImgHeaderContact p {
  margin-top: 8px;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  .ImgHeaderContact p {
    font-size: 1em;
  }
}
.ImgHeaderContact .mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border: 2px solid white;
  width: 70%;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact .mainContainer {
    flex-direction: column-reverse;
    width: 90%;
  }
  .ImgHeaderContact .mainContainer .contactInfo {
    border: none;
    align-items: center;
  }
}
.ImgHeaderContact .mainContainer .contactInfo {
  display: flex;
  flex-direction: column;
  margin: 2px 15px;
  padding: 30px 15px;
  border: 1px solid white;
  justify-content: center;
  border-width: 0 0 0 1px;
  /* top right bottom left */
  border-style: solid;
  border-color: white;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact .mainContainer .contactInfo {
    border-width: 0 0 1px;
    /* top right bottom left */
    border-style: solid;
    border-color: white;
  }
}
.ImgHeaderContact .mainContainer .Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 20px 0;
}
.ImgHeaderContact .mainContainer .p1 {
  color: chocolate;
  font-weight: bolder;
  margin-bottom: 5px;
  font-size: 1.5em;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact .mainContainer .p1 {
    font-size: 1.2em;
  }
}
.ImgHeaderContact .mainContainer .p2 {
  color: white;
  margin-top: 5px;
  font-size: 1.2em;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact .mainContainer .p2 {
    font-size: 1em;
  }
}
.ImgHeaderContact .mainContainer .p3 {
  color: white;
  font-size: 1em;
}
.ImgHeaderContact form {
  width: 100%;
  max-width: 400px;
}
.ImgHeaderContact .form-label {
  color: white;
  font-size: 1.5em;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact .form-label {
    font-size: 1.2em;
  }
}
.ImgHeaderContact button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  max-width: 300px;
  width: 33%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}
@media screen and (max-width: 800px) {
  .ImgHeaderContact button {
    font-size: 1.2em;
  }
}
.ImgHeaderContact button:hover {
  background-color: white;
  color: black;
}
.ImgHeaderContact .sendContainer {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row-reverse;
}/*# sourceMappingURL=ImgHeaderContact.css.map */