// Slick Container
.SLICK {
    margin: calc(2rem + 3vw) 7% 0 7%;
    //border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    font-size: calc(1rem + 1.5vw);
    font-weight: 600;
    color: black;
} 
/////////////////////////////
// control the width of the modal
.myModal {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    @media screen and (max-width:500px) {
        width: 100%;
        max-width: 100%;
        margin:0 ;
    }
}
// control the color of the modal
.myModalBody {
    background-color: rgba(0, 0, 0, 0.801);
    padding-bottom: 30px;
    padding-top: 20px;
}
/////////////////////////////
// here you set the gab between images 
// yo have to change in this two places
// img of slider
.img-fluid2,.fluidDiv {
    width: 95%;
    @media screen and (max-width : 480px) {
        width: 100%;
    }
}
/////////////////////////////
// without this line there will be bottom gab
.slick-slide img {
    display: inline-block;
}
/////////////////////////////
// slick arrows
// it comes hidden from the dveeloper 
// so i fix it here 
.slick-arrow::after {
    content: none;
}
.slick-arrow::before {
    content: none;
}
.slick-arrow,.slick-arrow:focus,.slick-arrow:hover {
    color: black;
    background-color: white;
    opacity: 1;
    //border: 1px solid grey;
    font-size: 1em;
    border-radius: 50%;
    user-select: none;
}
/////////////////////////////
.closeButton {
    color:black;
    font-weight: 700;
    background-color: white;
    outline: none;
    border: none;
    float: right;
    margin: 0;
    margin-top: 4px;
    bottom: 0;
}
