.img-example-small {
  //width: 380px;
  //height: 214px;
  width: 180px;
  height: 101px;
  max-width: 380px;
  border-radius: 5px;
}
// this is how you will make swiper
//.hiddenImg {
//  visibility: hidden;
//}

.img-example {
  width: 60%;
}
.BrainhubCarousel__dots .BrainhubCarousel__thumbnail{
  opacity: 1;
}
.BrainhubCarousel__dots {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.thumb {
  width: 200px;
}
