body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    

}
p {
    margin: 0;
}
/*
body {
    overflow-x: hidden;
    width: 100%;
}
*/
